<h2>Subscribers</h2>

<p><%= link_to "Add new subscriber", new_mailinglist_subscriber_path %>


<h3 style="color: red;">NOTE: Your API doc is not correct. <a href="http://test.peytzmail.com/api/v1/documentation#toc_34">http://test.peytzmail.com/api/v1/documentation#toc_34</a><br />
  You return a list of mailinglist<->subscriber relations instead of subscribers data.</h3>

<% @subscribers.each do |subscriber| %>
  <p>
    id: <%= subscriber.id %> email: <%= subscriber.email %> <%= subscriber.first_name %>
  </p>
<% end %>
