<h2>Add a new Subscriber</h2>

<%= form_for @subscriber, url: mailinglist_subscribers_path, method: :post do |f| %>
  <p>Email: <%= f.text_field :email %></p>
  <p>First name: <%= f.text_field :first_name %></p>
  <p>Last name: <%= f.text_field :last_name %></p>
  <%= f.submit %>
<% end %>
