<!DOCTYPE html>
<html>
<head>
  <title>SbsSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to "Malinglists", mailinglists_path %> <%# link_to "New subscriber", new_subscriber_path %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
